alias ...='cd ../..'
#alias cdt='cd /tmp'
alias cpstat='rsync -haP'
alias datea='date +%F'
alias e='fasd -e gvim'
alias g='git'
alias grep='grep --color=auto'
alias ip='ip -c'
alias lah='ls -lah'
alias l='ls'
alias mkqrcode='qrencode -t ansiutf8 -o -'
alias pacclean='sudo bash -c "paccache -vr && paccache -vruk0"'
alias pacu='pacaur -Syu'
alias :q='exit'
alias rm='trash'
alias ssh-public-key='cat ~/.ssh/id_rsa.pub'
alias vim='gvim'
alias whoneeds='pacman -Qi'
alias T="$TERMCMD &"
