alias ...='cd ../..'
alias cpstat='rsync -haP'
alias datea='date +%F'
alias g='git'
alias d='sudo docker'
alias grep='grep --color=auto'
alias ip='ip -c'
alias la='ls -lah --color=auto'
alias lh='ls -lh --color=auto'
alias l='ls --color=auto'
alias mkqrcode='qrencode -t ansiutf8 -o -'
alias pacu='pikaur -Syu'
alias :q='exit'
alias del='trash'
#alias rm='read "?Press enter to continue." && command rm'
alias ssh-public-key='cat ~/.ssh/id_rsa.pub'
alias vim='nvim'
alias whoneeds='pacman -Qi'
alias T="$TERMCMD 2>&1 > /dev/null &!"
alias o="rifle"
alias mdstat='cat /proc/mdstat'
