[Desktop Entry]
Name[an]=Demonio de notificacion
Name[ar]=عفريت التنبيهات
Name[as]=অধিসূচনা ডিমন
Name[ast]=Degorriu de notificación
Name[be]=Дэман апавяшчэнняў
Name[bg]=Демон за уведомления
Name[bn]=ঘোষণা ডেমন
Name[bn_IN]=নোটিফিকেশন (সূচনাপ্রদানের) ডেমন
Name[bs]=Demon za obavještenja
Name[ca]=Dimoni de notificació
Name[ca@valencia]=Dimoni de notificació
Name[cs]=Démon zprostředkující upozornění
Name[da]=Påmindelsesdæmon
Name[de]=Benachrichtigungsdienst
Name[en_GB]=Notification Daemon
Name[eo]=Sciiga Demono
Name[es]=Demonio de notificación
Name[et]=Teavitamisdeemon
Name[eu]=Jakinarazpenen daemon-a
Name[fa]=شبح هشدارها
Name[fi]=Ilmoituspalvelu
Name[fr]=Service de notification
Name[fur]=Demoni dis notifichis
Name[gl]=Daemon de notificacións
Name[gu]=સૂચના ડિમન
Name[he]=סוכן ההתרעות
Name[hi]=सूचना डेमन
Name[id]=Daemon Pemberitahuan
Name[it]=Demone notifiche
Name[ja]=通知デーモン
Name[km]=ដេមិន​ជូន​ដំណឹង
Name[kn]=ಸೂಚನೆಯ ಡೀಮನ್
Name[ko]=알림 데몬
Name[lt]=Pranešimų tarnyba
Name[lv]=Paziņojumu dēmons
Name[ml]=അറിയിപ്പ്‌ ചാത്തന്‍
Name[mr]=सूचना डिमन
Name[ms]=Daemon Notifikasi
Name[nb]=Varslingstjeneste
Name[nl]=Notificatie-service
Name[nn]=Varslingsteneste
Name[oc]=Servici de notificacion
Name[or]=ବିଜ୍ଞପ୍ତି ଡେମନ
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਡੈਮਨ
Name[pl]=Usługa powiadamiania
Name[pt]=Daemon de notificação
Name[pt_BR]=Daemon de Notificação
Name[quz]=Willanapaq pakasqa prugrama
Name[ro]=Serviciu de notificare
Name[ru]=Служба уведомлений
Name[sk]=Démon pre oznámenia
Name[sr]=Позадинац обавештења
Name[sr@latin]=Pozadinac obaveštenja
Name[sl]=Ozadnji program za prikazovanje obvestil
Name[sv]=Aviseringsdemon
Name[ta]=அறிவிப்பு கிங்கரன்
Name[te]=ప్రకటన సూత్రధారి
Name[th]=ดีมอนแจ้งเหตุ
Name[tr]=Bildirim sihirbazı
Name[ug]=ئۇقتۇرۇش Daemon ى
Name[uk]=Служба сповіщення
Name[uz@cyrillic]=Билдириш хизмати
Name[vi]=Daemon Thông báo
Name[zh_CN]=通知守护进程
Name[zh_HK]=通知伺服程式
Name[zh_TW]=通知伺服程式
Name[zu]=I-daemon yesaziso
Name=Notification Daemon
Comment[af]=Wys kennisgewings
Comment[an]=Amostrar notificacions
Comment[ar]=اعرض التنبيهات
Comment[as]=অধিসূচনাসমূহ প্ৰদৰ্শন কৰক
Comment[ast]=Amosar notificaciones
Comment[be]=Прагляд апавяшчэнняў
Comment[bg]=Показване на уведомленията
Comment[bn]=ঘোষণা প্রদর্শনী
Comment[bn_IN]=সূচনাবার্তা প্রদর্শন করা হবে
Comment[bs]=Prikaži obavještenja
Comment[ca]=Mostra les notificacions
Comment[ca@valencia]=Mostra les notificacions
Comment[cs]=Zobrazuje upozornění
Comment[da]=Vis påmindelser
Comment[de]=Benachrichtigungen anzeigen
Comment[en_GB]=Display notifications
Comment[eo]=Montri sciigojn
Comment[es]=Mostrar notificaciones
Comment[et]=Teateid kuvatakse
Comment[eu]=Bistaratu jakinarazpenak
Comment[fa]=نمایش هشدارها
Comment[fi]=Näytä ilmoitukset
Comment[fr]=Afficher les notifications
Comment[fur]=Mostre notifichis
Comment[gl]=Mostrar notificacións
Comment[gu]=સૂચનાઓને દર્શાવો
Comment[he]=הצגת התרעות
Comment[hi]=सूचनाएँ प्रदर्शित करें
Comment[id]=Tampilkan pemberitahuan
Comment[it]=Mostra le notifiche
Comment[ja]=通知を表示する
Comment[km]=បង្ហាញ​ការ​ជូនដំណឹង
Comment[kn]=ಸೂಚನೆಗಳನ್ನು ತೋರಿಸು
Comment[ko]=알림 표시
Comment[lt]=Rodyti pranešimus
Comment[lv]=Rādīt paziņojumus
Comment[ml]=അറിയിപ്പ് കാണിക്കുക
Comment[mr]=डिस्पले सूचना
Comment[ms]=Papar notifikasi-notifikasi
Comment[nb]=Vis varsler
Comment[nl]=Notificaties tonen
Comment[nn]=Vis varslingar
Comment[oc]=Afichar las notificacions
Comment[or]=ସମସ୍ତ ବିଜ୍ଞପ୍ତିଗୁଡ଼ିକୁ ପ୍ରଦର୍ଶନ କରନ୍ତୁ
Comment[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਵੇਖਾਓ
Comment[pl]=Wyświetlanie powiadomień
Comment[pt]=Mostrar notificações
Comment[pt_BR]=Exibir notificações
Comment[quz]=Willanakunata rikuchiy
Comment[ro]=Afișează notificări
Comment[ru]=Показывать уведомления
Comment[sk]=Zobrazuje oznámenia
Comment[sr]=Приказ обавештења
Comment[sr@latin]=Prikaz obaveštenja
Comment[sl]=Prikaži obvestila
Comment[sv]=Visa aviseringar
Comment[ta]=அறிவிப்புகளை காட்டவும்
Comment[te]=ప్రకటనలను ప్రదర్శించు
Comment[th]=แสดงการแจ้งเหตุ
Comment[tr]=Bildirimleri görüntüle
Comment[ug]=ئۇقتۇرۇشلارنى كۆرسەت
Comment[uk]=показати сповіщення
Comment[uz@cyrillic]=Билдиришларни кўрсатиш
Comment[vi]=Hiện thông báo
Comment[zh_CN]=显示通知
Comment[zh_HK]=顯示通知
Comment[zh_TW]=顯示通知
Comment[zu]=Bonisa izaziso
Comment=Display notifications
Exec=/usr/lib/notification-daemon-1.0/notification-daemon
Terminal=false
Type=Application
NoDisplay=true
